@keyframes changeBackground {
  0%,
  30% {
    background-image: url(images/main.png);
  }
  33%,
  63% {
    background-image: url(images/main2.png);
    filter: brightness(70%);
  }
  66%,
  96% {
    background-image: url(images/main3.png);
    filter: brightness(70%);
  }
  100% {
    background-image: url(images/main.png);
  }
}
