.main-body.body--blur, .header.body--blur {
    filter: blur(1px) brightness(0.5);
    transition: filter 300ms ease-out;
}

.modalWindow{
    position: fixed;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -100%) scale(0.5);
    opacity: 0;
    z-index: -1;
    transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.userModalWindow{
    position: absolute;
    padding: 10px 20px;
    top: 28px;
    right: 150px;
    width: 200px;
    z-index: -1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.user-modal-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modalWindow[style*="z-index: 9999"] {
    transform: translate(-50%, -80%) scale(1);
    opacity: 1;
}
#registrationModal[style*="z-index: 9999"]{
    transform: translate(-50%, -70%) scale(1);
    opacity: 1;
}

.profile-button{
    width: 90px;
    cursor: pointer;
    background-color: #39c568;
    color: #fff;
    border: 1px solid #39c568;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 12px;
}
.logout-button{
    width: 90px;
    cursor: pointer;
    background-color: #ff5353;
    color: #fff;
    border: 1px solid #ff5353;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 12px;
    transition: 100ms;
}
.profile-button:hover{
    background-color: #fff;
    border: 1px solid #39c568;
    color: #39c568;
    transition: 100ms;
}
.logout-button:hover{
    background-color: #fff;
    border: 1px solid #ff5353;
    color: #ff5353;
    transition: 100ms;
}
.modalWindow > * , .viewModal > * {
    margin: 10px 0;
}
.modalWindow h2, .viewModal h2{
    color: #333;
    font-size: 20px;
    font-weight: 750;
    margin-left: 10px;
}
.modalWindow .close img, .userModalWindow .close img, .viewModal .close img {
    width: 20px;
    height: 20px;
    transition: 100ms;
}
#bookingModal h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
#booking-cancel-btn{
    font-size: 16px;
}
.cancel-btn{
    font-size: 16px;
    cursor: pointer;
    background-color: #ff5353;
    color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 12px;
    transition: 100ms;
}
.cancel-btn:hover{
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ff5353;
    color: #ff5353;
    scale: 1.02;
    transition: 100ms;
}
.auth-modal-content .close:hover, .modal-content .close:hover {
    scale: 1.1;
    cursor: pointer;
    transition: 100ms;
    filter: invert(14%) sepia(97%) saturate(7483%) hue-rotate(359deg) brightness(97%) contrast(116%);
}
.auth-modal-content > * {
    margin: 10px 0;
}
.auth-form {
    display: block;
}
.auth-form label, .form-group label {
    text-align: left;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.auth-form input, .form-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.auth-form input:focus, .form-group input:focus {
    border-color: #39c568;
    box-shadow: 0 0 0 2px rgba(57, 197, 104, 0.1);
}
.button-container {
    text-align: center;
}
.auth-form-button, .submit-btn {
    cursor: pointer;
    background-color: #39c568;
    color: #fff;
    border-radius: 8px;
    padding: 10px 40px;
    font-size: 16px;
    transition: 100ms;
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth-form-button:hover, .submit-btn:hover {
    background-color: #53ff8d;
    scale: 1.02;
    transition: 100ms;
}
a.auth-form-register {
    color: #b3b3b3;
    text-decoration: none;
    transition: 100ms;
}
a.auth-form-register:hover {
    color: #278de0;
    transition: 100ms;
}
.close {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.error-message-login, .error-message-password, .error-message-email, .error-message-login-password {
    position: absolute;
    color: red;
    font-size: 12px;
}
.error-message-login {
    top: 120px;
    right: 20px;
}
.error-message-password {
    top: 270px;
    right: 20px;
}
.error-message-login-password {
    top: 190px;
    right: 20px;
}
.error-message-email{
    top: 195px;
    right: 20px;
}

#reg-repeat-password-error{
    top: 345px;
    right: 20px;
}

.success-message-registration{
    color: green;
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
}
.error-message-registration{
    color: red;
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
}
.error-message-auth{
    color: red;
    font-size: 14px;
    align-items: center;
    text-align: center;
}
.success-message-registration.display-none, .error-message-registration.display-none, .error-message-auth.display-none{
    display: none;
}

