.main-bodyTop::before {
  content: '';
  position: absolute;
  inset: 0;
  animation: ChangeBackground 30s infinite;
  transition: background-image 0.5s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
@keyframes ChangeBackground {
  0%,
  30% {
    background-image: url(./images/main1.png);
    filter: brightness("100%");
  }
  33%,
  63% {
    background-image: url(./images/main2.png);
    filter: brightness("70%");
  }
  66%,
  96% {
    background-image: url(./images/main3.png);
    filter: brightness("70%");
  }
  99%,
  100% {
    background-image: url(./images/main1.png);
    filter: brightness(100%);
  }
}
